@{
    ViewData["Title"] = "our story";
}

<div class="text-center">


    <h1 class="display-4 s1">Stay curious.</h1>
    <h3 class="s2">Discover stories, thinking, and expertise from writers on any topic.</h3>
    <button href="/Account/Login" class="bu">Start reading</button>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<style>
    .s1 {
        font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
        padding-top: 45px
    }

    .s2 {
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .bu {
        border-radius: 99em;
        border-color: red;
    }
</style>